[submodule "1.Fundamentals-of-Web-Development/projects/sd-011-project-lessons-learned"]
	path = 1.Fundamentals-of-Web-Development/projects/sd-011-project-lessons-learned
	url = https://github.com/tryber/sd-011-project-lessons-learned.git
	branch = SamuelSilvaMelo-lessons-learned-project
[submodule "1.Fundamentals-of-Web-Development/projects/sd-011-project-playground-functions"]
	path = 1.Fundamentals-of-Web-Development/projects/sd-011-project-playground-functions
	url = https://github.com/tryber/sd-011-project-playground-functions.git
	branch = SamuelSilvaMelo-project-playground-functions
[submodule "1.Fundamentals-of-Web-Development/projects/sd-011-project-pixels-art"]
	path = 1.Fundamentals-of-Web-Development/projects/sd-011-project-pixels-art
	url = https://github.com/tryber/sd-011-project-pixels-art.git
	branch = SamuelSilvaMelo-project-pixels-art
[submodule "1.Fundamentals-of-Web-Development/projects/sd-011-project-todo-list"]
	path = 1.Fundamentals-of-Web-Development/projects/sd-011-project-todo-list
	url = https://github.com/tryber/sd-011-project-todo-list.git
	branch = SamuelSilvaMelo-todo-list-project
[submodule "1.Fundamentals-of-Web-Development/projects/sd-011-project-meme-generator"]
	path = 1.Fundamentals-of-Web-Development/projects/sd-011-project-meme-generator
	url = https://github.com/tryber/sd-011-project-meme-generator.git
	branch = SamuelSilvaMelo-meme-generator-project
[submodule "1.Fundamentals-of-Web-Development/projects/sd-011-project-color-guess"]
	path = 1.Fundamentals-of-Web-Development/projects/sd-011-project-color-guess
	url = https://github.com/tryber/sd-011-project-color-guess.git
	branch = SamuelSilvaMelo-project-color-guess
[submodule "1.Fundamentals-of-Web-Development/projects/sd-011-project-trybewarts"]
	path = 1.Fundamentals-of-Web-Development/projects/sd-011-project-trybewarts
	url = https://github.com/tryber/sd-011-project-trybewarts.git
	branch = SamuelSilvaMelo-trybewarts-project
