h1 , h2 {
  text-align: center;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: 2px ridge black;
  padding-bottom: 10px;
}

.personalization-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personalization-buttons {
  display: inline-block;
}

button {
  display: block;
  width: 100px;
}