h1 {
  text-align: center;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.Pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
  flex-grow: 1;
  border: 1px solid black;
  border-radius: 15px;
  margin: 5px;
}
