<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chuck Norris - Joke By Category</title>
</head>
<body>
  <h1><%= category[0].toUpperCase()+category.substring(1) %> Joke:</h1>
  <h3><%= joke %></h3>
  <a href="/categories">Back to Categories</a>
</body>
</html>